body{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite;
    background-color: #0f0147;
}
#container{
    width: 70%;
    padding: 1em;
    border: 4px solid rgb(251, 8, 182);
    margin: auto;
    background-color: black;
}
#top{
    display: flex; 
    align-items: center; /* to move inside of the box */
    text-align: center; /* just text center */
    background: rgba(0, 255, 30, 0.84);
    box-shadow: 0px 2px 20px 0px rgba(3, 170, 23, 0.809);
    color:rgb(112, 36, 139);
    font-weight: bold;
    margin: 0em;
    padding: 0.5em;
}
#top #tagline{
    padding: 0 0 0 10px;
    font-weight: normal;
    font-size: 40px;
}
#container h1{
    text-align: center;
    color:rgb(251, 8, 182);
    padding: 0px 0px 100px 0px;
    font-size: 50px;
}
#post h1{
    text-transform: uppercase;
}